#Homepage {
    section {
        position: relative;
        padding: 0 2.5rem;

        .title {
            font-size: 1.75rem;
            font-weight: bold;
            text-align: center;
            padding-bottom: 2rem;
        }

        .wave-curve {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .wave-curve svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 129px;
        }

        .wave-curve .shape-fill {
            fill: var(--dark-teal-theme);
        }
    }

    section:first-child {
        position: relative;
        width: 100%;
        min-height: calc(100vh - 5.375rem);
        overflow: hidden;
        padding-top: 2rem;
        padding-bottom: 2rem;

        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 2rem;
        }
    }

    .video-hero {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    .welcome-content {
        position: relative;
        z-index: 1;
        font-weight: bold;

        .actions-wrapper {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }
    }

    @-webkit-keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .floating-animation {
        -webkit-animation: float 3s ease-in-out infinite;
        animation: float 3s ease-in-out infinite;
    }

    .see-available-categories {
        margin: 0 auto;
        padding: 3rem 0 5rem;
        max-width: 50rem;

        ul.categories-list {
            display: flex;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;

            >li:not(:last-child) {
                margin-right: 1rem;
            }

            .category-tile {
                padding: 1.5rem;
                width: 8.5rem;
                background-color: var(--button-primary-text-color);
                border-radius: 0.5rem;
                text-align: center;
                cursor: pointer;
                overflow: hidden;
                transition: background-color .3s ease-in-out;
                box-shadow: 0 2px 4px rgba(0,0,0,.16078);
            }
            .category-tile:hover .category-icon>svg {
                transform: translateY(-0.5rem);
            }

            .category-icon {
                position: relative;
                margin: 0 auto 0.5rem;
                text-align: -webkit-center;
                /* text-align: center; */
            }
            .category-icon>svg {
                transition: transform .1s ease-in-out;
            }
        }
    }

    .products-section {
        padding-bottom: 5rem;
        .products-list {
            display: flex;
            gap: 0.75rem;
            grid-gap: 0.75rem;
            flex-wrap: wrap;

            .product-card {
                padding: 1rem 0.5rem;
                background-color: var(--dark-gray-background-color);
                box-shadow: 0 2px 4px rgba(0,0,0,.16078);
                border: 2px solid var(--dark-gray-background-color);
                max-width: 100%;
                flex: 100%;
                text-align: center;
                @media only screen and (min-width: 600px) {
                    flex: 50%;
                    max-width: calc(50% - 0.75rem);
                }
                @media only screen and (min-width: 800px) {
                    flex: calc(100%/3);
                    max-width: calc(100%/3 - 0.75rem);
                }
                @media only screen and (min-width: 1024px) {
                    flex: 25%;
                    max-width: calc(25% - 0.75rem);
                }

                .product-img-wrapper {
                    padding: 1rem;
                    overflow: hidden;
                    max-width: 12rem;
                    max-height: 12rem;
                    height: 100%;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                     img {
                        margin: 0 auto;
                     }
                }

                .product-info {
                    .product-category {
                        font-size: 0.75rem;
                    }
                    .product-name {
                        font-weight: 500;
                        height: 4rem;
                    }
                }

                .product-price {
                    font-size: 0.875rem;
                }
            }
            .product-card:hover {
                border: 2px solid var(--secondary-bluish-green-color);
            }
        }

        .explore-more-rentals {
            margin-top: 2rem;
            text-align: center;
        }
    }

    .spacer {
        aspect-ratio: 960/300;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: -5rem;
        @media only screen and (min-width: 768px) {
            margin-top: -200px;
        }
        @media only screen and (min-width: 1024px) {
            margin-top: -200px;
        }
        @media only screen and (min-width: 1200px) {
            margin-top: -250px;
        }
    }
    .layered-wave {
        background-image: url('./../assets/layered-waves-haikei.svg');
    }
}