.NavBar {
    padding: 1rem;
    border-bottom: 2px solid var(--border-light-blue-shade);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #111a23c8;
    z-index: 9999;
    
    .navbar-company-logo {
        height: 3rem;
        cursor: pointer;
    }
    .navbar-actions {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
}