/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
@import './variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

button, button[type="submit"] {
    background: var(--button-primary-color);
    padding: 1rem 2rem;
    color: var(--text-primary-color);
    border-radius: 0.4rem;
    line-height: 1;
    font-weight: 500;
}